<!doctype html>
<html lang="en">

<head>
    <title>Agregar Requisición</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <style>
        table input,
        table textarea {
            width: 100%;
        }

        .descripcion-col {
            width: 10%;
        }

        .area-col,
        .usuario-col {
            width: 10%;
        }

        .small-col {
            width: 10%;
        }

        .proceso-col {
            width: 10%;
        }

        .id-col {
            width: 10%;
        }

        .spacer {
            margin-right: 20px;
        }

        .table-container {
            margin-right: 20px;
            flex: 0 0 80%;
        }

        .info-container {
            flex: 0 0 18%;
        }

        .row {
            display: flex;
        }

        .oc {
            width: 5%;
        }

        .remove-btn {
            text-align: center;
        }
    </style>
    <h3 class="text-center mb-4">Agregar Requisición</h3>
</head>

<body>
    <div class="container mt-5">
        <!-- Formulario para agregar requisición -->
        <form action="{{ url_for('guardar_req') }}" method="post" enctype="multipart/form-data">
            <!-- Sección principal de datos de la requisición -->
            <div class="row mb-4">
                <div class="col-md-3">
                    <label for="id_requisicion" class="form-label">ID Requisición</label>
                    <input type="text" class="form-control" id="id_requisicion" name="id_requisicion" value="{{ id_requisicion }}" readonly>
                </div>
                <div class="col-md-3">
                    <label for="fecha_solicitud" class="form-label">Fecha de Solicitud</label>
                    <input type="date" class="form-control" id="fecha_solicitud" name="fecha_solicitud" required>
                </div>                
                <div class="col-md-3">
                    <label for="usuario" class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="usuario" name="usuario" value="{{ usuario }}" readonly>
                </div>
                <div class="col-md-3">
                    <label for="descripcion_general" class="form-label">Descripción</label>
                    <input type="text" class="form-control" id="descripcion_general" name="descripcion_general" required>
                </div>
            </div>

            <!-- Tabla para ingresar los ítems de la requisición -->
            <div class="row">
                <div class="table-container">
                    <table class="table table-bordered" id="requisicionTable">
                        <thead>
                            <tr>
                                <th class="id-col">Línea</th>
                                <th class="small-col">Descripción</th>
                                <th class="area-col">Marca</th>
                                <th class="usuario-col">Modelo</th>
                                <th class="descripcion-col">Cantidad</th>
                                <th class="proceso-col">UDM</th>
                                <th class="small-col">Proveedor</th>
                                <th class="oc-col">OC</th>
                                <th class="oc-col">Imagen</th>
                                <th class="remove-btn"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><input type="text" class="form-control" name="descripcion[]" placeholder="Descripción"></td>
                                <td><input type="text" class="form-control" name="marca[]" placeholder="Marca"></td>
                                <td><input type="text" class="form-control" name="modelo[]" placeholder="Modelo"></td>
                                <td><input type="text" class="form-control" name="cantidad[]" placeholder="Cantidad"></td>
                                <td><input type="text" class="form-control" name="udm[]" placeholder="UDM"></td>
                                <td><input type="text" class="form-control" name="proveedor[]" placeholder="Proveedor"></td>
                                <td><input type="text" class="form-control" name="oc[]" placeholder="OC"></td>
                                <td><input type="file" class="form-control" name="imagen[]"></td>
                                <td><button type="button" class="btn btn-warning removeRowBtn">Eliminar</button></td>
                            </tr>
                        </tbody>
                        
                        
                        
                    </table>

                    <!-- Botones para añadir ítems -->
                    <div class="d-flex mb-3">
                        <button type="button" class="btn btn-warning me-2" id="addRowBtn">Añadir</button>
                    </div>

                    <!-- Botones para enviar el formulario -->
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-warning">Generar</button>
                        <a href="{{ url_for('requesiciones') }}" class="btn btn-warning">Volver</a>
                    </div>
                </div>

                <!-- Contenedor de información adicional / estado actual -->
                <div class="info-container bg-secondary bg-gradient bg-opacity-50 p-3">
                    <h3>Acciones / estado actual</h3>
                    <div class="mb-3">
                        <label for="cotizacion" class="form-label">Cotización:</label>
                        <div class="input-group">
                            <input type="file" class="form-control" id="cotizacion" name="cotizacion">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="autorizacion" class="form-label">Autorización:</label>
                        <div class="input-group">
                            <input type="file" class="form-control" id="autorizacion" name="autorizacion">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="oc_file" class="form-label">OC:</label>
                        <div class="input-group">
                            <input type="file" class="form-control" id="oc_file" name="oc_file" accept="application/pdf">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="proceso" class="form-label">Proceso:</label>
                        <select class="form-select" name="proceso">
                            <option selected>Seleccionar</option>
                            <option>Cotizacion</option>
                            <option>Autorizacion</option>
                            <option>Orden de compra</option>
                            <option>Espera de material</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="prioridad" class="form-label">Prioridad:</label>
                        <select class="form-select" name="prioridad">
                            <option selected>Seleccionar</option>
                            <option>Urgente</option>
                            <option>Normal</option>
                        </select>                        
                    </div>
                    <div class="mb-3">
                        <label for="eta" class="form-label">ETA:</label>
                        <input type="date" class="form-control" id="eta" name="eta">
                    </div>
                    <div class="mb-3">
                        <label for="facturas" class="form-label">Facturas:</label>
                        <input type="text" class="form-control" id="facturas" name="facturas" placeholder="Facturas">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    <script>
        // Añadir una nueva fila a la tabla
        document.getElementById("addRowBtn").addEventListener("click", function () {
    const table = document.getElementById("requisicionTable").getElementsByTagName('tbody')[0];
    const newRow = table.insertRow();

    // Agregar número de línea
    newRow.insertCell(0).innerHTML = table.rows.length;

    // Crear las columnas de entrada
    newRow.insertCell(1).innerHTML = `<input type="text" class="form-control" name="descripcion[]" placeholder="Descripción">`;
    newRow.insertCell(2).innerHTML = `<input type="text" class="form-control" name="marca[]" placeholder="Marca">`;
    newRow.insertCell(3).innerHTML = `<input type="text" class="form-control" name="modelo[]" placeholder="Modelo">`;
    newRow.insertCell(4).innerHTML = `<input type="text" class="form-control" name="cantidad[]" placeholder="Cantidad">`; // Texto
    newRow.insertCell(5).innerHTML = `<input type="text" class="form-control" name="udm[]" placeholder="UDM">`;
    newRow.insertCell(6).innerHTML = `<input type="text" class="form-control" name="proveedor[]" placeholder="Proveedor">`;
    newRow.insertCell(7).innerHTML = `<input type="text" class="form-control" name="oc[]" placeholder="OC">`; // Texto
    newRow.insertCell(8).innerHTML = `<input type="file" class="form-control" name="imagen[]">`;

    // Agregar botón de eliminar
    const removeCell = newRow.insertCell(9);
    removeCell.innerHTML = `<button type="button" class="btn btn-warning removeRowBtn">Eliminar</button>`;
    addRemoveRowEvent(removeCell.querySelector('.removeRowBtn'));
});


        // Añadir evento para eliminar una fila
        function addRemoveRowEvent(button) {
            button.addEventListener('click', function () {
                const row = button.closest('tr');
                row.remove();
                updateLineNumbers();
            });
        }

        // Actualizar números de línea después de eliminar una fila
        function updateLineNumbers() {
            const rows = document.querySelectorAll("#requisicionTable tbody tr");
            rows.forEach((row, index) => {
                row.cells[0].innerText = index + 1;
            });
        }

        // Agregar evento inicial a los botones existentes
        document.querySelectorAll('.removeRowBtn').forEach(function (button) {
            addRemoveRowEvent(button);
        });

        window.onload = function () {
        const today = new Date();
        const yyyy = today.getFullYear();
        const mm = String(today.getMonth() + 1).padStart(2, '0'); // Mes comienza desde 0
        const dd = String(today.getDate()).padStart(2, '0');

        const currentDate = `${yyyy}-${mm}-${dd}`; // Formato ISO 8601 (YYYY-MM-DD)
        document.getElementById("fecha_solicitud").value = currentDate; // Asigna la fecha actual
    };
    </script>
</body>

</html>
