<!doctype html>
<html lang="en">

<head>
    <br>
    <br>
    <title>Editar Requisición</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <style>
        table input,
        table textarea {
            width: 100%;
        }

        .descripcion-col {
            width: 8%;
        }

        .area-col,
        .usuario-col {
            width: 8%;
        }

        .small-col {
            width: 10%;
        }

        .proceso-col {
            width: 10%;
        }

        .estado-col {
            width: 10%;
        }

        .id-col {
            width: 10%;
        }

        .spacer {
            margin-right: 20px;
        }

        .table-container {
            margin-right: 20px;
            flex: 0 0 80%;
        }

        .info-container {
            flex: 0 0 18%;
        }

        .row {
            display: flex;
        }

        .oc {
            width: 5%;
        }

        .remove-btn {
            text-align: center;
        }
    </style>
    <h3 class="text-center mb-4">Editar Requisición</h3>
</head>

<body>
    <div class="container mt-5">
        <form action="{{ url_for('actualizar_req') }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{ requisicion['id'] }}">

            <div class="row mb-4">
                <div class="col-md-3">
                    <label for="id_requisicion" class="form-label">ID Requisición</label>
                    <input type="text" class="form-control" id="id_requisicion" name="id_requisicion" value="{{ requisicion['id'] }}" readonly>
                </div>

                <div class="col-md-3">
                    <label for="fecha_solicitud" class="form-label">Fecha de Solicitud</label>
                    <input value="{{ requisicion['fecha'] }}" required type="date" class="form-control" name="fecha" id="fecha">
                </div>
                <div class="col-md-3">
                    <label for="usuario" class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="usuario" name="usuario" value="{{ requisicion['usuario'] }}" readonly>
                </div>
                <div class="col-md-3">
                    <label for="descripcion_general" class="form-label">Descripción</label>
                    <input type="text" class="form-control" id="descripcion_general" name="descripcion_general" value="{{ requisicion['descripcion'] }}" required>
                </div>
            </div>

            <div class="row">
                <div class="table-container">
                    <table class="table table-bordered" id="requisicionTable">
                        <thead>
                            <tr>
                                <th class="id-col">Línea</th>
                                <th class="small-col">Descripción</th>
                                <th class="area-col">Marca</th>
                                <th class="usuario-col">Modelo</th>
                                <th class="descripcion-col">Cantidad</th>
                                <th class="proceso-col">UDM</th>
                                <th class="small-col">Proveedor</th>
                                <th class="oc-col">OC</th>
                                <th class="oc-col">Imagen</th>
                                <th class="remove-btn"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td><input type="hidden" name="item_id[]" value="{{ item['id'] }}">{{ loop.index }}</td>
                                <td><input type="text" class="form-control" name="descripcion[]" value="{{ item['descripcion'] }}"></td>
                                <td><input type="text" class="form-control" name="marca[]" value="{{ item['marca'] }}"></td>
                                <td><input type="text" class="form-control" name="modelo[]" value="{{ item['modelo'] }}"></td>
                                <td><input type="text" class="form-control" name="cantidad[]" value="{{ item['cantidad'] }}"></td>
                                <td><input type="text" class="form-control" name="udm[]" value="{{ item['udm'] }}"></td>
                                <td><input type="text" class="form-control" name="proveedor[]" value="{{ item['proveedor'] }}"></td>
                                <td><input type="text" class="form-control" name="oc[]" value="{{ item['oc'] }}" placeholder="OC"></td>
                                <td>
                                    <input type="file" class="form-control" name="imagen[]">
                                    {% if item['imagen'] %}
                                    <p>Imagen actual: <a href="/uploads/{{ item['imagen'] }}" target="_blank">{{ item['imagen'] }}</a></p>
                                    {% endif %}
                                </td>
                                <td><button type="button" class="btn btn-warning removeRowBtn">Eliminar</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>
    
                        <div class="d-flex mb-3">
                            <button type="button" class="btn btn-warning me-2" id="addRowBtn">Añadir</button>
                        </div>
    
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-warning">Guardar Cambios</button>
                            <a href="{{ url_for('requesiciones') }}" class="btn btn-warning">Volver</a>
                        </div>
                    </div>
    
                    <div class="info-container bg-secondary bg-gradient bg-opacity-50 p-3">
                        <h3>Acciones / estado actual</h3>
                        <div class="mb-3">
                            <label for="cotizacion" class="form-label">Cotización:</label>
                            <div class="input-group">
                                <input type="file" class="form-control" id="cotizacion" name="cotizacion">
                                {% if requisicion['cotizacion'] %}
                                <p class="mt-2">Archivo actual:
                                    <a href="{{ url_for('descargar_archivo', id=requisicion['id'], campo='cotizacion') }}" target="_blank">Ver archivo</a>
                                </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="autorizacion" class="form-label">Autorización:</label>
                            <div class="input-group">
                                <input type="file" class="form-control" id="autorizacion" name="autorizacion">
                                {% if requisicion['autorizacion'] %}
                                <p class="mt-2">Archivo actual:
                                    <a href="{{ url_for('descargar_archivo', id=requisicion['id'], campo='autorizacion') }}" target="_blank">Ver archivo</a>
                                </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="oc" class="form-label">OC:</label>
                            <div class="input-group">
                                <input type="file" class="form-control" id="oc" name="oc">
                                {% if requisicion['oc'] %}
                                <p class="mt-2">Archivo actual:
                                    <a href="{{ url_for('descargar_archivo', id=requisicion['id'], campo='oc') }}" target="_blank">Ver archivo</a>
                                </p>
                                {% endif %}
                            </div>
                        </div>
    
                        <div class="mb-3">
                            <label for="proceso" class="form-label">Proceso:</label>
                            <select class="form-select" name="proceso">
                                <option value="Seleccionar" {% if requisicion['proceso'] == "Seleccionar" %}selected{% endif %}>Seleccionar</option>
                                <option value="Cotizacion" {% if requisicion['proceso'] == "Cotizacion" %}selected{% endif %}>Cotizacion</option>
                                <option value="Autorizacion" {% if requisicion['proceso'] == "Autorizacion" %}selected{% endif %}>Autorizacion</option>
                                <option value="Orden de compra" {% if requisicion['proceso'] == "Orden de compra" %}selected{% endif %}>Orden de compra</option>
                                <option value="Espera de material" {% if requisicion['proceso'] == "Espera de material" %}selected{% endif %}>Espera de material</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="prioridad" class="form-label">Prioridad:</label>
                            <select class="form-select" name="prioridad">
                                <option value="Seleccionar" {% if requisicion['prioridad'] == "Seleccionar" %}selected{% endif %}>Seleccionar</option>
                                <option value="Urgente" {% if requisicion['prioridad'] == "Urgente" %}selected{% endif %}>Urgente</option>
                                <option value="Normal" {% if requisicion['prioridad'] == "Normal" %}selected{% endif %}>Normal</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="eta" class="form-label">ETA:</label>
                            <input type="date" class="form-control" id="eta" name="eta"
                                   value="{{ requisicion.eta if requisicion.eta != None else '' }}">
                        </div>
                        <div class="mb-3">
                            <label for="facturas" class="form-label">Facturas:</label>
                            <input type="text" class="form-control" id="facturas" name="facturas"
                                   placeholder="Facturas" value="{{ requisicion.facturas if requisicion.facturas != None else '' }}">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    
        <script>
            document.getElementById("addRowBtn").addEventListener("click", function () {
                const table = document.getElementById("requisicionTable").getElementsByTagName('tbody')[0];
                const newRow = table.insertRow();
    
                // Agregar número de línea
                newRow.insertCell(0).innerHTML = table.rows.length;
    
                // Crear las columnas de entrada
                newRow.insertCell(1).innerHTML = `<input type="text" class="form-control" name="descripcion[]" placeholder="Descripción">`;
                newRow.insertCell(2).innerHTML = `<input type="text" class="form-control" name="marca[]" placeholder="Marca">`;
                newRow.insertCell(3).innerHTML = `<input type="text" class="form-control" name="modelo[]" placeholder="Modelo">`;
                newRow.insertCell(4).innerHTML = `<input type="text" class="form-control" name="cantidad[]" placeholder="Cantidad">`; // Texto
                newRow.insertCell(5).innerHTML = `<input type="text" class="form-control" name="udm[]" placeholder="UDM">`;
                newRow.insertCell(6).innerHTML = `<input type="text" class="form-control" name="proveedor[]" placeholder="Proveedor">`;
                newRow.insertCell(7).innerHTML = `<input type="text" class="form-control" name="oc[]" placeholder="OC">`; // Texto
                newRow.insertCell(8).innerHTML = `<input type="file" class="form-control" name="imagen[]">`;
    
                // Agregar botón de eliminar
                const removeCell = newRow.insertCell(9);
                removeCell.innerHTML = `<button type="button" class="btn btn-warning removeRowBtn">Eliminar</button>`;
                addRemoveRowEvent(removeCell.querySelector('.removeRowBtn'));
            });
    
            function addRemoveRowEvent(button) {
                button.addEventListener('click', function () {
                    const row = button.closest('tr');
                    row.remove();
                    updateLineNumbers();
                });
            }
    
            function updateLineNumbers() {
                const rows = document.querySelectorAll("#requisicionTable tbody tr");
                rows.forEach((row, index) => {
                    row.cells[0].innerText = index + 1;
                });
            }
    
            document.querySelectorAll('.removeRowBtn').forEach(function (button) {
                addRemoveRowEvent(button);
            });
        </script>
    </body>
    
    </html>
    